{
	"app_state": {
	  "assets": {
		"fBTC": {
    	  "quantum": "1",
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "BTC (fake)",
		  "symbol": "fBTC",
		  "total_supply": "21000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "1000000"
			}
		  }
		},
		"fDAI": {
     	  "quantum": "1",
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "DAI (fake)",
		  "symbol": "fDAI",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "10000000000"
			}
		  }
		},
		"fEURO": {
    	  "quantum": "1",
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "EURO (fake)",
		  "symbol": "fEURO",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "10000000000"
			}
		  }
		},
		"fUSDC": {
    	  "quantum": "1",
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "USDC (fake)",
		  "symbol": "fUSDC",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "1000000000000"
			}
		  }
		},
		"XYZalpha": {
    	  "quantum": "1",
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "XYZ (α alpha)",
		  "symbol": "XYZalpha",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "100000000000"
			}
		  }
		},
		"XYZbeta": {
    	  "quantum": "1",
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "XYZ (β beta)",
		  "symbol": "XYZbeta",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "100000000000"
			}
		  }
		},
		"XYZgamma": {
    	  "quantum": "1",
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "XYZ (γ gamma)",
		  "symbol": "XYZgamma",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "100000000000"
			}
		  }
		},
		"XYZdelta": {
    	  "quantum": "1",
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "XYZ (δ delta)",
		  "symbol": "XYZdelta",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "100000000000"
			}
		  }
		},
		"XYZepsilon": {
    	  "quantum": "1",
		  "min_lp_stake": "1",
		  "decimals": 5,
		  "name": "XYZ (ε epsilon)",
		  "symbol": "XYZepsilon",
		  "total_supply": "1000000000",
		  "source": {
			"builtin_asset": {
			  "max_faucet_amount_mint": "100000000000"
			}
		  }
		},
		"{{.PrimaryBridge.GetVegaContractID "tBTC"}}": {
    		"quantum": "1",
			"min_lp_stake": "1",
			"decimals": 5,
			"name": "BTC (local)",
			"symbol": "tBTC",
			"total_supply": "0",
			"source": {
				"erc20": {
					"contract_address": "{{.PrimaryBridge.GetEthContractAddr "tBTC"}}",
					"chain_id": "{{.PrimaryBridge.ChainID}}"
				}
			}
		},
		"{{.PrimaryBridge.GetVegaContractID "tDAI"}}": {
			"quantum": "1",
			"min_lp_stake": "1",
			"decimals": 5,
			"name": "DAI (local)",
			"symbol": "tDAI",
			"total_supply": "0",
			"source": {
				"erc20": {
					"contract_address": "{{.PrimaryBridge.GetEthContractAddr "tDAI"}}",
					"chain_id": "{{.PrimaryBridge.ChainID}}"
				}
			}
		},
		"{{.PrimaryBridge.GetVegaContractID "tEURO"}}": {
      		"quantum": "1",
			"min_lp_stake": "1",
			"decimals": 5,
			"name": "EURO (local)",
			"symbol": "tEURO",
			"total_supply": "0",
			"source": {
				"erc20": {
					"contract_address": "{{.PrimaryBridge.GetEthContractAddr "tEURO"}}",
					"chain_id": "{{.PrimaryBridge.ChainID}}"
				}
			}
		},
		"{{.PrimaryBridge.GetVegaContractID "tUSDC"}}": {
      		"quantum": "1",
			"min_lp_stake": "1",
			"decimals": 5,
			"name": "USDC (local)",
			"symbol": "tUSDC",
			"total_supply": "0",
			"source": {
				"erc20": {
					"contract_address": "{{.PrimaryBridge.GetEthContractAddr "tUSDC"}}",
					"chain_id": "{{.PrimaryBridge.ChainID}}"
				}
			}
		},
		"{{.PrimaryBridge.GetVegaContractID "VEGA"}}": {
      		"quantum": "1",
			"min_lp_stake": "1",
			"decimals": 18,
			"name": "Vega",
			"symbol": "VEGA",
			"total_supply": "64999723000000000000000000",
			"source": {
				"erc20": {
				"contract_address": "{{.PrimaryBridge.GetEthContractAddr "VEGA"}}",
				          "chain_id": "{{.PrimaryBridge.ChainID}}"

				}
			}
		}
	  },
	  "network": {
		"replay_attack_threshold": 150
	  },
    "network_limits": {
      "propose_asset_enabled": true,
      "propose_market_enabled": true
    },
	  "network_parameters": {
      "blockchains.ethereumConfig": "{\"network_id\": \"{{ .PrimaryBridge.NetworkID }}\", \"chain_id\": \"{{ .PrimaryBridge.ChainID }}\", \"collateral_bridge_contract\": { \"address\": \"{{.PrimaryBridge.GetEthContractAddr "erc20_bridge_1"}}\" }, \"confirmations\": 3, \"staking_bridge_contract\": { \"address\": \"{{.PrimaryBridge.GetEthContractAddr "staking_bridge"}}\", \"deployment_block_height\": 0}, \"token_vesting_contract\": { \"address\": \"{{.PrimaryBridge.GetEthContractAddr "erc20_vesting"}}\", \"deployment_block_height\": 0 }, \"multisig_control_contract\": { \"address\": \"{{.PrimaryBridge.GetEthContractAddr "MultisigControl"}}\", \"deployment_block_height\": 0 }}",
      "blockchains.evmBridgeConfigs": "{\"configs\": [{\"network_id\": \"{{ .SecondaryBridge.NetworkID }}\", \"chain_id\": \"{{ .SecondaryBridge.ChainID }}\", \"collateral_bridge_contract\": { \"address\": \"{{.SecondaryBridge.GetEthContractAddr "erc20_bridge_1"}}\" }, \"confirmations\": 2, \"multisig_control_contract\": { \"address\": \"{{.SecondaryBridge.GetEthContractAddr "MultisigControl"}}\", \"deployment_block_height\": 0 }, \"block_time\": \"10ms\"}]}",
      "governance.proposal.asset.maxClose": "720h",
      "blockchains.ethereumRpcAndEvmCompatDataSourcesConfig": "{\"configs\": []}",
      "governance.proposal.asset.maxEnact": "720h",
      "governance.proposal.asset.minClose": "2s",
      "governance.proposal.asset.minEnact": "2s",
      "governance.proposal.asset.minProposerBalance": "1000000000000000000",
      "governance.proposal.asset.minVoterBalance": "1000000000000000000",
      "governance.proposal.asset.requiredMajority": "0.66",
      "governance.proposal.asset.requiredParticipation": "0.00000000000000000000000015",
      "governance.proposal.freeform.maxClose": "8760h0m0s",
      "governance.proposal.freeform.minClose": "2s",
      "governance.proposal.freeform.minProposerBalance": "1000000000000000000",
      "governance.proposal.freeform.minVoterBalance": "1000000000000000000",
      "governance.proposal.freeform.requiredMajority": "0.66",
      "governance.proposal.freeform.requiredParticipation": "0.09",
      "governance.proposal.market.maxClose": "720h",
      "governance.proposal.market.maxEnact": "720h",
      "governance.proposal.market.minClose": "2s",
      "governance.proposal.market.minEnact": "2s",
      "governance.proposal.market.minProposerBalance": "1000000000000000000",
      "governance.proposal.market.minVoterBalance": "1000000000000000000",
      "governance.proposal.market.requiredMajority": "0.66",
      "governance.proposal.market.requiredParticipation": "0.00000000000000000000000015",
      "governance.proposal.updateAsset.maxClose": "720h",
      "governance.proposal.updateAsset.maxEnact": "720h",
      "governance.proposal.updateAsset.minClose": "2s",
      "governance.proposal.updateAsset.minEnact": "2s",
      "governance.proposal.updateAsset.minProposerBalance": "1000000000000000000",
      "governance.proposal.updateAsset.minVoterBalance": "1000000000000000000",
      "governance.proposal.updateAsset.requiredMajority": "0.66",
      "governance.proposal.updateAsset.requiredParticipation": "0.00000000000000000000000015",
      "governance.proposal.updateMarket.maxClose": "720h",
      "governance.proposal.updateMarket.maxEnact": "2s",
      "governance.proposal.updateMarket.minClose": "2s",
      "governance.proposal.updateMarket.minEnact": "2s",
      "governance.proposal.updateMarket.minProposerBalance": "1000000000000000000",
      "governance.proposal.updateMarket.minProposerEquityLikeShare": "0",
      "governance.proposal.updateMarket.minVoterBalance": "1000000000000000000",
      "governance.proposal.updateMarket.requiredMajority": "0.66",
      "governance.proposal.updateMarket.requiredMajorityLP": "0.66",
      "governance.proposal.updateMarket.requiredParticipation": "0.00000000000000000000000015",
      "governance.proposal.updateMarket.requiredParticipationLP": "0",
      "governance.proposal.updateNetParam.maxClose": "1440h",
      "governance.proposal.updateNetParam.maxEnact": "1440h",
      "governance.proposal.updateNetParam.minClose": "2s",
      "governance.proposal.updateNetParam.minEnact": "2s",
      "governance.proposal.updateNetParam.minProposerBalance": "1000000000000000000",
      "governance.proposal.updateNetParam.minVoterBalance": "1000000000000000000",
      "governance.proposal.updateNetParam.requiredMajority": "0.66",
      "governance.proposal.updateNetParam.requiredParticipation": "0.00000000000000000000000015",
      "limits.assets.proposeEnabledFrom": "2023-05-05T00:00:00Z",
      "limits.markets.maxPeggedOrders": "1500",
      "limits.markets.proposeEnabledFrom": "2023-05-05T00:00:00Z",
      "limits.markets.proposeSpotEnabled": "1",
      "limits.markets.ammPoolEnabled": "1",
      "market.auction.maximumDuration": "168h",
      "market.auction.minimumDuration": "3s",
      "market.fee.factors.infrastructureFee": "0.0005",
      "market.fee.factors.makerFee": "0.0002",
      "market.liquidity.bondPenaltyParameter": "0.000001",
      "market.liquidity.maximumLiquidityFeeFactorLevel": "0.03",
      "market.liquidity.minimum.probabilityOfTrading.lpOrders": "1e-6",
      "market.liquidity.probabilityOfTrading.tau.scaling": "10.0",
      "market.liquidity.stakeToCcyVolume": "1.0",
      "market.liquidity.targetstake.triggering.ratio": "0.25",
      "market.liquidityProvision.minLpStakeQuantumMultiple": "5000",
      "market.liquidityProvision.shapes.maxSize": "5",
      "market.margin.scalingFactors": "{\"search_level\": 1.1, \"initial_margin\": 1.5, \"collateral_release\": 1.7}",
      "market.monitor.price.defaultParameters": "{\"triggers\": [{\"auction_extension\": 300, \"horizon\": 43200, \"probability\": \"0.9999999\"}] }",
      "market.stake.target.scalingFactor": "0.0001",
      "market.stake.target.timeWindow": "1h",
      "market.value.windowLength": "168h",
      "network.checkpoint.timeElapsedBetweenCheckpoints": "5m",
      "network.floatingPointUpdates.delay": "5m",
      "network.markPriceUpdateMaximumFrequency": "5s",
      "network.transaction.defaultgas": "1",
      "network.transactions.maxgasperblock": "3000000",
      "network.transactions.minBlockCapacity": "32",
      "network.validators.ersatz.multipleOfTendermintValidators": "0",
      "network.validators.ersatz.rewardFactor": "0.85",
      "network.validators.incumbentBonus": "0.05",
      "network.validators.minimumEthereumEventsForNewValidator": "3",
      "network.validators.multisig.numberOfSigners": "13",
      "network.validators.tendermint.number": "13",
      "reward.staking.delegation.competitionLevel": "1.3",
      "reward.staking.delegation.delegatorShare": "0.8",
      "reward.staking.delegation.maxPayoutPerEpoch": "9890000000000000000000",
      "reward.staking.delegation.maxPayoutPerParticipant": "700000000000000000000",
      "reward.staking.delegation.minValidators": "2",
      "reward.staking.delegation.minimumValidatorStake": "3000000000000000000000",
      "reward.staking.delegation.optimalStakeMultiplier": "3.0",
      "reward.staking.delegation.payoutDelay": "0h",
      "reward.staking.delegation.payoutFraction": "1.0",
      "rewards.marketCreationQuantumMultiple": "50000000",
      "snapshot.interval.length": "300",
      "spam.pow.difficulty": "0",
      "spam.pow.hashFunction": "sha3_24_rounds",
      "spam.pow.increaseDifficulty": "0",
      "spam.pow.numberOfPastBlocks": "100",
      "spam.pow.numberOfTxPerBlock": "500",
      "spam.protection.delegation.min.tokens": "100000000000000000",
	  "spam.protection.max.stopOrdersPerMarket": "10",
      "spam.protection.max.batchSize": "200",
      "spam.protection.max.delegations": "360",
      "spam.protection.max.proposals": "100",
      "spam.protection.max.votes": "100",
      "spam.protection.maxUserTransfersPerEpoch": "20",
      "spam.protection.minMultisigUpdates": "100000000000000000000",
      "spam.protection.minimumWithdrawalQuantumMultiple": "10",
      "spam.protection.proposal.min.tokens": "1000000000000000000",
      "spam.protection.voting.min.tokens": "1000000000000000000",
      "transfer.fee.factor": "0.001",
      "transfer.minTransferQuantumMultiple": "100",
      "validator.performance.scaling.factor": "0",
      "validators.delegation.minAmount": "100000000000000000",
      "validators.epoch.length": "30m",
      "validators.vote.required": "0.67"},
	  "network_limits": {
      "propose_asset_enabled": true,
      "propose_asset_enabled_from": "2021-09-01T00:00:00Z",
      "propose_market_enabled": true,
      "propose_market_enabled_from": "2021-09-01T00:00:00Z"
	  }
	},
	"consensus_params": {
	  "block": {
		"time_iota_ms": "1"
	  }
	}
}
