log_level = "info"

proxy_app = "tcp://127.0.0.1:{{add 2660 .NodeNumber}}8"
moniker = "{{.TendermintNodePrefix}}-{{.NodeNumber}}"

[rpc]
  laddr = "tcp://0.0.0.0:{{add 2660 .NodeNumber}}7"
  unsafe = true
  cors_allowed_origins = ["*"]
  cors_allowed_methods = ["HEAD", "GET", "POST", ]
  cors_allowed_headers = ["Origin", "Accept", "Content-Type", "X-Requested-With", "X-Server-Time", ]

[p2p]
  laddr = "tcp://0.0.0.0:{{add 2660 .NodeNumber}}6"
  addr_book_strict = false
  max_packet_msg_payload_size = 4096
  pex = false
  allow_duplicate_ip = true

  persistent_peers = "{{- range $i, $peer := .NodePeers -}}
	  {{- if ne $i 0 }},{{end -}}
	  {{- $peer.ID}}@127.0.0.1:{{add 2660 $peer.Index}}6
  {{- end -}}"


[mempool]
  size = 10000
  cache_size = 20000
  version = "v1"
  recheck = true
  broadcast = true
  max_txs_bytes = 1073741824
  keep-invalid-txs-in-cache = false
  max_tx_bytes = 1048576
  max_batch_bytes = 10485760
  ttl-duration = "0s"
  ttl-num-blocks = 0

[consensus]
  skip_timeout_commit = true
  timeout_propose = "3s"
  timeout_propose_delta = "500ms"
  timeout_prevote_delta = "500ms"
  timeout_precommit = "1s"
  timeout_precommit_delta = "500ms"
  timeout_commit = "0s"
  create_empty_blocks = true
  create_empty_blocks_interval = "1s"
  peer_gossip_sleep_duration = "100ms"
  peer_query_maj23_sleep_duration = "2s"

